@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.album-mobile {
    padding: 1vw;
    border: none;
}

.album-mobile .btn {
    width: 100%;
    margin-bottom: 1vw;
}

.album-mobile .pages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-mobile .image {
    height: inherit;
    width: auto;
}

.album-mobile .mobile-header-icon-wrapper {
    display: flex;
    justify-content: space-between;
}

.album-mobile .offcanvas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

.album-mobile .offcanvas-body {
    padding: 0.5%;
}

.album-mobile .searchbar {
    display: flex;
    margin-inline: auto;
    justify-content: center;
    margin-top: 1rem;
}

.album-mobile .searchbar input {
    border: 0;
    border-bottom: 3px solid #4699EB;
}

.album-mobile .btn-search {
    width: 2em;
    height: 2em;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
}

.album-mobile .btn-reset {
    width: 50vw;
    border: #61dafb solid 1px;
}

.album-mobile .table {
    font-size: 1em;
}

.album-mobile .table thead th {
    padding: 0.5vw;
}

.album-mobile .table tbody td {
    padding: 0.5vw;
}

.album-mobile .form-page-count input {
    width: 4rem;
}

.album-mobile #pageFinder {
    width: 80%;
    margin-inline: auto;
}

.album-mobile #pageFinder input {
    width: 100%;
    padding: 0.5vw;
    margin-bottom: 1vw;
    box-sizing: border-box;
}

.album-mobile #pageFinder button {
    width: 100%;
    padding: 0.5vw;
}

.album-mobile #pageFinder table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1vw;
}

.album-mobile #pageFinder th, .album-mobile #pageFinder td {
    border: 0.1vw solid #ccc;
    padding: 0.5vw;
}

.album-mobile .btn-offcanvas {
    width: 2rem;
    height: 1.5rem;
    margin: 0.25rem;
}

.album-mobile .offcanvas-header .btn-close {
    transform: translateX(-0.5rem);
}

.album-mobile .mark-headong {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.25rem;
}

.album-mobile .item img {
    width: 100%;
}

.album-mobile .tabbed-component {
    margin-top: 2%;
}

.album-mobile .page-controller {
    margin-top: 2%;
}
